<!DOCTYPE html>
<html>
<head>
    <title>List Sortererer</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="javascripts/javascript.js"></script>
</head>

<body>
    <div id='wrapper'>
        <h1>List Sorter</h1>
        <h3>Alphabetises your list</h3>

        <div>
            Options
            <input type="checkbox" id="ascii" />&nbsp;<label for="ascii">ASCII order</label>
            <input type="checkbox" id="reverse" />&nbsp;<label for="reverse">Reverse order</label>
        </div>
        <div>
            <button type="button" id="submit-list" class="btn"><i class="fa fa-sort-amount-asc"></i>&nbsp;Sort it out</button>
            <button type="button" id="copy-list" class="btn"><i class="fa fa-clipboard"></i>&nbsp;Copy</button>
            <span id="result-text"></span>
        </div>
        <br />

    </div>
    <div class="list-row">
        <textarea id="unsorted-list-input" class="list-box" name="unsorted-list-input" placeholder="Put your unsorted list in here"></textarea>
        <textarea id="sorted-list-output" class="list-box" name="sorted-list-output" placeholder="Your sorted list will appear here"></textarea>
    </div>

</body>
</html>