<!DOCTYPE html>
<html>
<head>
	<title>List Sortererer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<div id='wrapper'>
		<h1>Sortererer</h1>
		<textarea id="list-input" name="list-input"></textarea>

		<div>
			<button type="button" id="submit-list">Sort it out</button>
		</div>

		<div id='result-text'></div>
		<div id="list-output">
			Yo ho
		</div>
	</div>

<script>
	$('#submit-list').click(function() {
		// $.ajax({
	 //      url: '/sortit',
	 //      // dataType: 'json',
	 //      contentType: 'application/text',
	 //      type: 'POST',
	 //      data : { name: "Dom"},
	 //      success: function(data) {
	 //        console.log('Boom' + data);
	 //        $('#list-output').text(data);
	 //      },
	 //      complete: function(data) {
	 //      	console.log('Done' + data);
	 //      	console.dir(data);

	 //      }
	 //    });
		var unsortedList = $('#list-input').val();

		$.post('/goaway', {name: unsortedList})
			.done(function(data) {
				console.log("Post worked " + data);
				console.dir(data);
				$('#list-input').val(data);
				$('#result-text').text('Sorted!');
			});
	});
</script>

</body>
</html>