<!DOCTYPE html>
<html>
<head>
	<title>List Sortererer</title>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<div>
		<h1>Boom</h1>
		<textarea id="list-input" name="list-input">

		</textarea>

		<button type="button" id="submit-list">Sort it out</button>

		<div>Some Results</div>
		<div id="list-output">
			This is where your sorted list will go
		</div>
	</div>

</body>
</html>