<!DOCTYPE html>
<html>
<head>
	<title>List Sortererer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
	<div id='wrapper'>
		<h1>List Sorter</h1>
		<h3>Alphabetises your list</h3>
		<textarea id="list-input" name="list-input"></textarea>

		<div>
			<button type="button" id="submit-list">Sort it out</button>
		</div>

		<div id="result-text"></div>
	</div>

	<script>
		$('#submit-list').click(function() {
			var unsortedList = $('#list-input').val();

			$.post('/sortit', {unsorted: unsortedList})
			.done(function(data) {
				$('#list-input').val(data);
				$('#result-text').text('Sorted!');
			})
			.fail(function(data) {
				$('#result-text').text('Sort failed :(');
			});
		});
	</script>

</body>
</html>