<!DOCTYPE html>
<html>
<head>
	<title>List Sortererer</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script src="javascripts/javascript.js"></script>
</head>

<body>
	<div id='wrapper'>
		<h1>List Sorter</h1>
		<h3>Alphabetises your list</h3>

		<div>
			Options
			<input type="checkbox" id="ascii" /><label for="ascii">ASCII order</label>
			<input type="checkbox" id="reverse" /><label for="reverse">Reverse order</label>
		</div>
		<div>
			<button type="button" id="submit-list" class="btn">Sort it out</button>
			<button type="button" id="copy-list" class="btn">Copy</button>
			<span id="result-text"></span>
		</div>

	</div>

		<textarea id="unsorted-list-input" name="unsorted-list-input"></textarea>
		<textarea id="sorted-list-output" name="sorted-list-output"></textarea>

</body>
</html>