<!DOCTYPE html>
<html>
<head>
    <title>List Sortererer</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="javascripts/javascript.js"></script>
</head>

<body>
    <div id='wrapper'>
        <h1>List Sorter</h1>
        <h3>Alphabetises your list</h3>

        <div>
            Options
            <input type="checkbox" id="ascii" />&nbsp;<label for="ascii">ASCII order</label>
            <input type="checkbox" id="reverse" />&nbsp;<label for="reverse">Reverse order</label>
        </div>
        <div>
            <button type="button" id="submit-list" class="btn">Sort it out</button>
            <button type="button" id="copy-list" class="btn">Copy</button>
            <span id="result-text"></span>
        </div>

    </div>
    <div class="row">
        <div style="margin: 0 -20px" class="col-md-2"></div>
        <div class="col-md-4">Unsorted</div>
        <div style="margin-left: 20px" class="col-md-6">Sorted</div>
    </div>
    <div class="row">
        <div style="margin: 0 -20px" class="col-md-2"></div>
        <textarea id="unsorted-list-input" class="col-md-4" name="unsorted-list-input"></textarea>
        <textarea id="sorted-list-output" class="col-md-4" name="sorted-list-output"></textarea>
        <div class="col-md-2"></div>
    </div>

</body>
</html>