$primary-color: #ff66b5
$inverted-color: #fff

h1, h3
  color: $primary-color

body
  font-family: 'Nunito', sans-serif

#wrapper
  margin: 0 auto
  width: 600px

#list-input
  width: 600px
  height: 250px
  border: 5px solid #ccc
  border-radius: 5px
  font-size: 16px
  font-family: 'Nunito', sans-serif

#submit-list
  background-color: $primary-color
  color: $inverted-color
  border: 1px solid $primary-color
  border-radius: 5px
  font-size: 16px
  &:hover
    background-color: $inverted-color
    color: $primary-color
    border: 1px solid $primary-color
    border-radius: 5px