$primary-color: #ff66b5
$inverted-color: #fff

h1, h3
  color: $primary-color

body
  font-family: 'Nunito', sans-serif

#wrapper
  margin: 0 auto
  width: 600px
  text-align: center
  div
    margin-bottom: 5px

.list-box
  height: 250px
  border: 5px solid #ccc
  border-radius: 5px
  font-size: 16px
  font-family: 'Nunito', sans-serif
  padding: 0
  box-sizing: border-box
  width: 49%

#unsorted-list-input
  float: left

#sorted-list-output
  float: right

.btn
  background-color: $primary-color
  color: $inverted-color
  border: 1px solid $primary-color
  border-radius: 5px
  font-size: 16px
  margin-right: 5px
  &:hover
    background-color: $inverted-color
    color: $primary-color
    border: 1px solid $primary-color
    border-radius: 5px

.list-row
  width: 80%
  margin: 0 auto

.list-row:after 
  content: ""
  clear: both
  display: block

@media only screen and (max-width: 768px)
  #wrapper
    width: 95%

  .list-box
    width: 100%
    margin-bottom: 5px

